body{
  background-color: #db4437;
}

.envolope {
  position: relative;
}

h1 {
  text-align: center;
}

.to, .from{
  position: absolute;
  font-size: 20;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #000;
}

.to {
  top:140px;
  left:350px;
  color: #db4437;
}

.from {
  top:340px;
  left:490px;
  -webkit-animation: fadein_plum 4s 4s backwards;
   -moz-animation: fadein_plum 4s 4s backwards; 
    -ms-animation: fadein_plum 3s 4s backwards; 
     -o-animation: fadein_plum 4s 4s backwards; 
        animation: fadein_plum 4s 4s backwards;   
}


.ribbon{
  position: absolute;
  top:580px;
  left:-100px;
  background-color: #db4437; 
  opacity: .6; 
  margin: auto;  
  width: 150px;
  height: 60px;   
  font-family: helvetica, arial, sans-serif; 
  -moz-box-shadow: 1px 1px 3px #292929;  
  -webkit-box-shadow: 1px 1px 3px #292929;  
  box-shadow: 1px 1px 3px #292929;
  border-radius: 10px;
  }  

.ribbon a{
  position: absolute;
}

.share{
  z-index: 1
  -webkit-transition: all .2s ease-in-out; 
  right: 8px;
  margin-top: 9px;
}

.plusone{
  position: absolute;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out; 
  right:70px;
  margin-top: 9px;
}

.share:hover{
  -webkit-transform: scale(1.2);
}

.plusone:hover{
  -webkit-transform: scale(1.2);  
}

.ribbon:hover{
  opacity: 1;
  cursor: pointer;
  left: -10px;
}
  
#toggleText{
  display: block;
  position: absolute;
  background-color: #eeeeee;
  padding: 5px 10px;
  opacity: .9;
  top: 400px;
  left:200px;
  width: 600px;
  height: 200px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #ffffff;  
  -webkit-box-shadow: 2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  border-radius: 4px;
}


.audio{
  text-align: center;
  opacity: .5;
}

input {
    border: 2px solid white; 
    font-size: 18px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin-left: 20px;
    width:540px;
}
.canvas {
  position: relative;
  width: 1024px;
  height:654px;
  margin: auto auto;
  background-image: url('/static/img/background.png');
  overflow: hidden;
  -webkit-box-shadow: 2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         2px -1px 1px 0px rgba(50, 50, 50, 0.36);
  border-radius: 4px;
}


.mountain{
  position: absolute;
  top: 355px;
  -webkit-animation: fadein_mountain 3s 1s backwards;
   -moz-animation: fadein_mountain 3s 1s backwards; 
    -ms-animation: fadein_mountain 3s 1s backwards; 
     -o-animation: fadein_mountain 3s 1s backwards; 
        animation: fadein_mountain 3s 1s backwards;
}

.pavilion{
  position: absolute;
  top:30px;
  right:0;
  -webkit-animation: fadein_pavilion  ease-out 5s 1.5s backwards;
   -moz-animation: fadein_pavilion 5s 1.5s backwards; 
    -ms-animation: fadein_pavilion 5s 1.5s backwards; 
     -o-animation: fadein_pavilion 5s 1.5s backwards; 
        animation: fadein_pavilion 5s 1.5s backwards;
}

.plum{
  position: absolute;
  top:0;
  -webkit-animation: fadein_plum 5s 5s backwards;
   -moz-animation: fadein_plum 5s 5s backwards; 
    -ms-animation: fadein_plum 5s 5s backwards; 
     -o-animation: fadein_plum 5s 5s backwards; 
        animation: fadein_plum 5s 5s backwards;
}

.year_of_horse{
  position: absolute;
  top:140px;
  margin-left: 150px;
}

.horses {
  position: absolute;
  right: 0;
  bottom: 10;
  -webkit-animation: fadein_plum 4s 3s backwards;
   -moz-animation: fadein_plum 4s 3s backwards; 
    -ms-animation: fadein_plum 3s 3s backwards; 
     -o-animation: fadein_plum 4s 3s backwards; 
        animation: fadein_plum 4s 3s backwards; 
}

/*Animation Mountain*/
@keyframes fadein_mountain {
    from { opacity: 0; left: -20px; }
    to   { opacity: 1; left: 0;}
}

@-moz-keyframes fadein_mountain {
    from { opacity: 0; left: -20px;}
    to   { opacity: 1; }
}

@-webkit-keyframes fadein_mountain {
    from { opacity: 0; left: -20px; }
    to   { opacity: 1; left: 0;}
}

@-ms-keyframes fadein_mountain {
    from { opacity: 0; left: -20px;}
    to   { opacity: 1; }
}​

@-o-keyframes fadein_mountain {
    from { opacity: 0; left: -20px;}
    to   { opacity: 1; }
}​


/*Animation Pavilion*/
@keyframes fadein_pavilion {
    from { opacity: 0; right: -60px; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein_pavilion {
    from { opacity: 0; right: -60px; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein_pavilion {
    from { opacity: 0; right: -60px; }
    to   { opacity: 1; right:0;}
}
@-ms-keyframes fadein_pavilion {
    from { opacity: 0; right: -60px;}
    to   { opacity: 1; }
}​
@-o-keyframes fadein_pavilion {
    from { opacity: 0; right: -60px;}
    to   { opacity: 1; }
}​


/*Animation plum*/
@keyframes fadein_plum {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein_plum {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein_plum {
    from { opacity: 0;}
    to   { opacity: 1;}
}
@-ms-keyframes fadein_plum {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
@-o-keyframes fadein_plum {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* flying */
.flying {
  position: absolute;
  left:-30px;
   -webkit-animation: flying 10s 3s forwards infinite;
   -moz-animation: flying 10s 3s forwards infinite; 
    -ms-animation: flying 10s 3s forwards infinite; 
     -o-animation: flying 10s 3s forwards infinite; 
        animation: flying 10s 3s forwards infinite; 
}

.flying2 {
  position: absolute;
  left:-30px;
   -webkit-animation: flying 10s 4s forwards infinite;
   -moz-animation: flying 10s 4s forwards infinite; 
    -ms-animation: flying 10s 4s forwards infinite; 
     -o-animation: flying 10s 4s forwards infinite; 
        animation: flying 10s 4s forwards infinite; 
}

.flying3 {
  left:-30px;
  position: absolute;
   -webkit-animation: flying 10s 5s forwards infinite;
   -moz-animation: flying 10s 5s forwards infinite; 
    -ms-animation: flying 10s 5s forwards infinite; 
     -o-animation: flying 10s 5s forwards infinite; 
        animation: flying 10s 5s forwards infinite; 
}

@-moz-keyframes flying {
  0% {-moz-transform:translate(200px, 600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-moz-transform:translate(150px, 500px) rotateX(0deg) rotateY(-746deg) rotateZ(0deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  80% {-moz-transform:translate(100px, 400px) rotateX(0deg) rotateY(-56deg) rotateZ(0deg) translate(-50%, -50%);-moz-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-moz-transform:translate(50px, 400px) rotateX(0deg) rotateY(110deg) rotateZ(0deg) translate(-50%, -50%);}
}
@-webkit-keyframes flying {
  0% {-webkit-transform:translate(200px, 600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {-webkit-transform:translate(150px, 500px) rotateX(0deg) rotateY(-746deg) rotateZ(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  80% {-webkit-transform:translate(100px, 400px) rotateX(0deg) rotateY(-56deg) rotateZ(0deg) translate(-50%, -50%);-webkit-animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {-webkit-transform:translate(50px, 400px) rotateX(0deg) rotateY(110deg) rotateZ(0deg) translate(-50%, -50%);}
}
@keyframes flying {
  0% {transform:translate(200px, 600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  40% {transform:translate(150px, 500px) rotateX(0deg) rotateY(-746deg) rotateZ(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  80% {transform:translate(100px, 400px) rotateX(0deg) rotateY(-56deg) rotateZ(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translate(50px, 400px) rotateX(0deg) rotateY(110deg) rotateZ(0deg) translate(-50%, -50%);}
}
